body {
  background-color: green;
}
.full-modal-content {
  /* display: flex; */

  /* border: 2px solid orange; */
}
.modal-content {
  background: green !important;
  border-radius: 20px !important;
  height: 100px;
}
#forest-modal-header {
  border: 2px solid green;

  border-radius: 20px;
  background: green;
  display: flex;
  align-items: center;
  justify-content: center;
}
.centerer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#hide {
  display: none;
  transition: 0.5s;
}
.modal-header {
  color: rgb(105, 105, 105);
  text-align: center;
}
.full_modal-dialog {
  width: 98% !important;
  height: 92% !important;
  min-width: 98% !important;
  min-height: 92% !important;
  max-width: 98% !important;
  max-height: 92% !important;
  padding: 0 !important;
}

.full-modal-content {
  height: 80% !important;
  width: 80% !important;
  margin: 0;

  /* min-height: 99% !important;
  max-height: 99% !important;
  border: none; */
}
.modal-body {
  border: 3px solid red;
  /* display: flex; */
  display: none;
  align-content: center;
  justify-content: center;
}
.forest-options,
m34 {
  /* display: none; */
  background: url('../src/images/forestPaths.png') no-repeat center;
  display: flex;
  justify-content: space-around;
  height: 40%;
  width: 100%;
  margin: 0px;
  padding: 50px;
}
.forest-btn {
  background-color: white;
  border: 5px solid #696969;
  border-radius: 10px;
  background-size: contain;
  font-size: 1.5em;
  margin: 10px;
  align-content: center;
  padding: 3% 7% 3% 7%;
  transition: 0.3s;
}
.modal-footer {
  /* display: flex; */
}
#forest-continue,
#quick {
  background: rgb(171, 250, 171);
  transition: 0.3s;
}
.forest-btn:hover {
  background: #696969;
  color: white;
  border: 5px solid orange;
}
#forest-continue:hover,
#quick:hover {
  background: #696969;

  color: rgb(171, 250, 171);
}

#quick-confirm {
  /* display: flex; */
  display: none;
}
.forest-quickstart-btns {
  /* display: none; */
  /* align-content: space-between;
  justify-content: center; */
}
.caution {
  border: 4px solid orange;
  background-color: orange;
}
#forest-modal-title {
  color: black;
  /* centered: true; */
}
